.designermeetholder{
   //  width: 70%;
   //  height: 200px;
   //  margin-left: 16%;
   //  margin-top: 12%;
 }
 
 .designermeet{
    margin-left: 12%;
    background: #FFFFFF;
    border-radius: 20px;
   //  height: 100%;
    position: relative;
 }
 
 .designermeettitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    color: #F44336;
    font-weight:bolder;
    padding-left:10px;
    float:left;
    width:100%;
    margin-left: 3%;
    margin-top: 3%;
 }
 
 .marginmove_5{
    margin-left: 5%;
}
 
 .marginmove_2{
    margin-left: 2%;
    margin-right:5%;
    margin-bottom: 1%;
 }
 
 .marginmovebig_2{
    margin-left: 5%;
    margin-right:5%;
   //  margin-top:-10px;
 }   
 
 .whatsapplabel{
   
    .label1{
       font-family: 'Montserrat';
       font-style: normal;
       font-weight: 500;
       font-size: 10px;
       float:right;
       display:flex;
       width: 100%;
       justify-content: flex-end;
      //  margin-left: 40px !important;
      margin-right: 65px;

    }
    
    .label2{
       font-family: 'Montserrat';
       font-style: normal;
       font-weight: 500;
       font-size: 9px;
       float:right;
       display:flex;
       width: 100%;
       justify-content: flex-end;
       color: #D2D2D2;  
      margin-right: 65px;

    }
 
 }
 
 .whatsappcheckbox{
     position: absolute;
     justify-content: end;
     width: 100%;
     right: 30px;
     margin-top: 5px;
 }
 
 .inputbox{
    width:100%;
    div{
       min-width:40% !important;     
    }
    input{
       width:100%;
    }
    label{
       width:100%;
    }
 }
 
 .whatsappdetailsholder{
    margin-top:5px;
 }
 
 .designerbookingconfirmationholder{
    width:100%;
    display: flex;
    justify-content: center;
 }
 
 .designerbookingconfirmationbutton{
    background: #F44336;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    height: 40px;
 }
 
 .designerbookingconfirmationbutton >label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
    // padding-left:5px;
    // padding-right:5px;
    // padding-top:0px;
    margin-top:5px;
    padding: 5px 15px 5px 15px;
 }
 
 .designerbookingwarningtext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #737373;
    display:flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 8px;
 }

 @media only screen and (max-width: 1024px){
   .designermeetholder{
      margin-bottom: 120px;
   }

 }

 @media only screen and (max-width: 775px){
   .whatsappdetailsholder{
      margin-right: 2%;
   }
   .designermeetholder{
      margin-bottom: 160px;
   }
   .label2{
      margin-right: 24px !important;
   }
   .whatsappcheckbox{
      right: 0px;
      margin-right: 2%;
      width: 60% !important;
   }
   .designermeet {
      margin: 2% !important;
   }
 }