.designGallery {
  background-color: #4d6797;
  padding-top: 5%;
  padding-bottom: 5%;
}

.galleryTitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 5vh;
  font-style: normal;
  line-height: normal;
  margin-left: 5%;
}
// .design_title{
//   text-align: center;
// }
.contentBox {
  display: flex;
  flex-direction: row;
  margin-top: -50px;
}

.contentPart {
  position: relative;
}

.iconPart1{
  position: relative;
  top: 140px;
}

.iconPart1 img {
  width: 80px;
  margin-top: 45px;
}

.imagePart {
  width: 100%;
  margin-left: 15%;
  z-index: 2;
  position: relative;
}

.imagePart img {
  width: 86%;
  border-radius:0 0 0 20%;
}

.shadow {
  width: 82%;
  height: 75%;
  position: absolute;
  z-index: 1;
  top: 17px;
  left: -10px;
  right: -5px;
  bottom: -5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 20%;
  margin-top: -7px;
  margin-left: 68px;
  margin-bottom: -4px

}

.container {
  margin-top: 90px;
  margin-bottom: 36px;
  overflow: hidden; 
}

.topLevel {
  width: 571px;
  height: 350px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.topLevel .iconPart3 img {
  width: 100px;
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%);
}

.iconPart4 img {
  width: 70px;
  position: absolute;
  top: 59%;
  right: 85%;
}

.bottomLevel {
  // width: 571px;
  margin-bottom: 40px;
}

.side1 {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-top: -107px;
}

.side2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 70px;
  margin-top: -100px;
}

.iconPart2 {
  margin-left: 20px;
  padding: 0;
  margin: 0;
  position: relative;
}

.iconPart2 img {
  width: 40px;
  position: absolute;
  left: 10%;
  top: 10%;
}

@media only screen and (max-width:1920px) and (min-width:1440px){

  .galleryTitle{
    margin-left: 17%;
  }   

  .contentBox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: -50px;
  }

  .contentPart{
    left: 25%;
  }

  .iconPart1{
    margin-left: -124px;
   
  }

  .iconPart1 img {
    width: 15%;
    margin-top: 45px;
  }

  .iconPart2 img {
    width: 50px;
    position: absolute;
    left: 2%;
    bottom: 2%
  }

  .imagePart img {
   max-width: 85%;
    border-radius:0 0 0 20%;
  }

  .bottomLevel {
    width: 571px;
    margin-bottom: 40px;
  }

  .topLevel .iconPart3 img {
    width: 150px;
    position: absolute; 
    bottom: 80px; 
    left: 50%; 
    transform: translateX(-50%);
  }

  .iconPart4 img{
    margin-right: 15%;
    width: 17%;
  }

  .shadow {
    width: 82%;
    height: 53%; //Changed Style
    position: absolute;
    z-index: 1;
    top: 40%;
    left: -6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: 30px; //Changed Style
    
  }

  .side2{
    margin-top:30px ;
    margin-left: 15%
  }

}


@media only screen and (max-width:1440px) and (min-width:1360px){
  .imagePart img {
   max-width: 85%;
    border-radius:0 0 0 20%;
  }

  .bottomLevel {
    width: 571px;
    margin-bottom: 40px;
  }

  .topLevel .iconPart3 img {
    width: 100px;
    position: absolute; 
    bottom: 80px; 
    left: 50%; 
    transform: translateX(-50%);
  }

  .shadow {
    width: 82%;
    height: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -10px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width:1360px) and (min-width:1340px){
  
  .iconPart1 img{
    width: 50px;
  }
  .shadow{
    width: 82%;
    height: 65%;
    position: absolute;
    z-index: 1;
    top: 35%;
    left: -10px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width:1340px) and (min-width:1330px){
  .imagePart img {
   max-width: 85%;
    border-radius:0 0 0 20%;
  }

  .bottomLevel {
    width: 571px;
    margin-bottom: 40px;
  }

  .topLevel .iconPart3 img {
    width: 100px;
    position: absolute; 
    bottom: 5px; 
    left: 50%; 
    transform: translateX(-50%);
  }

  .shadow {
    width: 82%;
    height: 58%;
    position: absolute;
    z-index: 1;
    top: 43%;
    left: -10px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width:1330px) and (min-width:1300px){
  .imagePart img {
   max-width: 82%;
    border-radius:0 0 0 20%;
  }

  .iconPart1 img{
    width: 70px;
  }

  .bottomLevel {
    width: 571px;
    margin-bottom: 40px;
  }

  .topLevel .iconPart3 img {
    width: 100px;
    position: absolute; 
    bottom: 5px; 
    left: 50%; 
    transform: translateX(-50%);
  }

  .shadow {
    width: 82%;
    height: 58%;
    position: absolute;
    z-index: 1;
    top: 43%;
    left: -10px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width:1300px) and (min-width:1250px){
  .imagePart img {
   max-width: 82%;
    border-radius:0 0 0 20%;
  }

  .iconPart1 img{
    width: 70px;
  }

  .bottomLevel {
    width: 571px;
    margin-bottom: 40px;
  }

  .topLevel .iconPart3 img {
    width: 100px;
    position: absolute; 
    bottom: 5px; 
    left: 50%; 
    transform: translateX(-50%);
  }

  .shadow {
    width: 82%;
    height: 58%;
    position: absolute;
    z-index: 1;
    top: 43%;
    left: -10px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width:1250px) and (min-width:1024px){
  // .galleryTitle{
  //   margin-left: 17%;
  // }    //Changed Style

  .contentBox {
    display: flex;
    
    margin-top: -50px;
  }

  .contentPart{
    // left: 25%;
    width:700px; //Changed Style
  }

  .iconPart1{
    margin-left: -124px;
   
  }

  .iconPart1 img {
    width: 15%;
    margin-top: 45px;
  }

  .iconPart2 img {
    width: 50px;
    position: absolute;
    left: 2%;
    bottom: 2%
  }

  .imagePart img {
   max-width: 85%;
    border-radius:0 0 0 20%;
  }

  .bottomLevel {
    width: 571px;
    margin-bottom: 40px;
  }

  .topLevel .iconPart3 img {
    left: 50%; 
    width: 150px;
    position: absolute; 
    bottom: 80px; 
    transform: translateX(-50%);
  }

  .iconPart4 img{
    margin-right: 25%;
    width: 17%;
  }

  .shadow {
    width: 82%;
    height: 60%;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 0px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
  .side1 {
    display: flex;
    flex-direction: column;
    // padding-left: 40px;
    margin-top: -107px;
    margin-left: 15%;
  }

  .side2{
    margin-top:25% ;
    margin-left: -60%
  }
}

@media only screen and (max-width:1024px) and (min-width:1000px) {
  
  .galleryTitle{
    display: flex;
    justify-content: center;
  }
  .contentBox{
    display: flex;
    flex-direction: column;
  }

  .iconPart1 img {
    margin-left: -15%;
  }

  .side1{
    width: 72%;
    margin-left:100px;
  }
  .side2{
    width: 72%;
    margin-left: 15%;
    margin-top:-25%;

  }

  .bottomLevel {
    width: 665px;
    margin-bottom: 40px;
  }

  .shadow {
    width: 82%;
    height: 55%;
    position: absolute;
    z-index: 1;
    top: 46%;
    left: -2px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width:1000px) and (min-width:800px) {
  
  .galleryTitle{
    display: flex;
    justify-content: center;
  }
  .contentBox{
    display: flex;
    flex-direction: column;
  }

  .iconPart1 img{
    margin-left: -5% ;
  }

  .side1{
    width: 72%;
    margin-left: 9.5%;
  }
  .side2{
    width: 72%;
    margin-left: 5%;
    margin-top:-25% !important;

  }

  .bottomLevel {
    width: 665px;
    margin-bottom: 40px;
  }

  .shadow {
    width: 82%;
    height: 55%;
    position: absolute;
    z-index: 1;
    top: 45%;
    left: -10px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width:800px) and (min-width:700px) {
  
  .galleryTitle{
    display: flex;
    justify-content: center;
  }
  .contentBox{
    display: flex;
    flex-direction: column;
  }

  .iconPart1 img{
    margin-left: -5% ;
  }

  .side1{
    width: 72%;
    margin-left: 9.5%;
  }
  .side2{
    width: 72%;
    margin-left: 15%;
    margin-top: -30%;

  }

  .bottomLevel {
    width: 665px;
    margin-bottom: 40px;
    margin-left: -15%;
  }

  .shadow {
    width: 82%;
    height: 51%;
    position: absolute;
    z-index: 1;
    top: 47%;
    left: -10px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-top: -7px;
    margin-left: 68px;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width:700px) and (min-width:500px){

.galleryTitle{
  display: flex;
  justify-content: center;
}
.contentBox{
  display: flex;
  flex-direction: column;
}

.iconPart1 img{
  margin-left: -5% ;
}

.side1{
  width: 72%;
  margin-left: 9.5%;
}
.side2{
  width: 82%;
  margin-left: 23%;
  margin-top: -45%;

}

.bottomLevel {
  width: 120%;
  margin-bottom: 40px;
  margin-left: -22%;
}

.shadow {
  width: 82%;
  height: 51%;
  position: absolute;
  z-index: 1;
  top: 47%;
  left: -10px;
  right: -5px;
  bottom: -5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 20%;
  margin-top: -7px;
  margin-left: 68px;
  margin-bottom: -4px;
}
}

@media only screen and (max-width:500px) and (min-width:300px){

.galleryTitle{
  display: flex;
  justify-content: center;
}
.contentBox{
  display: flex;
  flex-direction: column;
}

.iconPart1 img{
  margin-left: -5% ;
}

.side1{
  width: 72%;
  margin-left: 9.5%;
}
.side2{
  width: 72%;
  margin-left: 15%;
  margin-top: -80%;

}

.bottomLevel {
  width:150%;
  margin-bottom: 40px;
  margin-left: -10%;
}

.shadow {
  width: 82%;
  height: 51%;
  position: absolute;
  z-index: 1;
  top: 47%;
  left: -10px;
  right: -5px;
  bottom: -5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 20%;
  margin-top: -7px;
  margin-left: 68px;
  margin-bottom: -4px;
}
}
@media only screen and (max-width:300px) and (min-width:470px){
  .galleryTitle{
    width: 60%;
    text-align: center;
  }
}  //Changed style
@media only screen and (max-width:700px) and (min-width:600px){
  .shadow{
    width: 82%;
    // min-width: 85%;
    height: 48%;  //Changed Style
    position: absolute;
    z-index: 1;
    top: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-left: 53px;
  }
}  //Changed style
@media only screen and (max-width:600px) and (min-width:500px){
  .shadow{
    width: 82%;
    // min-width: 85%;
    height: 44%;  //Changed Style
    position: absolute;
    z-index: 1;
    top: 53%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-left: 53px;
  }
}  //Changed style
@media only screen and (max-width:600px) and (min-width:400px){
  .shadow{
    width: 82%;
    min-width: 85%;
    // height: 48%;  //Changed Style
    left:-8%;
    position: absolute;
    z-index: 1;
    // top: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-left: 53px;
  }
}  //Changed style



@media only screen and (max-width:500px) and (min-width:400px){
  .container{
    // margin-top: 10%;
    margin-bottom: 36px;
    overflow: hidden; 
    // width:80%;
  }
  
.imagePart img {
  // width: 70%;
  border-radius:0 0 0 20%;
}
.shadow{
  width: 60%;
  // min-width: 62%;
  left:-11%;
  height: 40%;
  position: absolute;
  z-index: 1;
  top: 58%;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 20%;
  margin-left: 53px;
}
}  //Changed style
@media only screen and (max-width:1250px) and (min-width:1200px){
  .imagePart img {
    // width: 70%;
    // border-radius:0 0 0 20%;
    // object-fit: cover;
    // max-width: 100%;
    // max-height:100%;
    height:100%;
    width:100%;
    // object-fit: scale-down;
  }
  .shadow{
    min-width: 62%;
    left: 20px;
    height: 55%;
    position: absolute;
    z-index: 1;
    top: 45%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    margin-left: 53px;
    max-width: 100%;
    max-height: 100%
  }
}
@media only screen and (max-width:2700px) and (min-width:2500px){
  .shadow {
    width: 82%;
    height: 63%;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: -10px;
    right: -5px;
    bottom: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0 20%;
    // margin-top: -7px;
    margin-left: 80px;
    margin-bottom: -80px;
  
  }
}
@media only screen and (max-width:400px) and (min-width:250px){
.container{
  margin-top: 10%;
  margin-bottom: 36px;
  overflow: hidden; 
  // width:80%;
}
.shadow{
  width: 82%;
  height: 40%;
  position: absolute;
  z-index: 1;
  top: 55%;
  left: -50px;
  right: -5px;
  bottom: -5px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 20%;
  margin-top: -7px;
  margin-left: 68px;
  margin-bottom: -4px
}
}