.interiorfilmrole {
    display: flex;
    /* width:100%; */
    overflow-x: hidden;
    justify-content: center;
}

.interiorcategory {
    width: fit-content;
}

.arrowimage {
    margin-top: 100px;
    width: 70px;
    height: 70px;
}

.arrowimage1 {
    margin-top: 150px;
    width: 70px;
    height: 70px;
}

.interiortitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 5%; */
    /* margin-top: 1%; */

}

.category {
    width: 50%;
    // margin-top:30px;
}

.interiorname {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
    /* width: 200px; */
    padding: 0px 0px 10px 20px;
    margin-top: 20%;
    white-space: nowrap;
}

.interiortext {
    color: #737373;
    font-family: "Montserrat";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 184px;
    height: 60px;
    margin-left: 20px;
}

.interiorcategoryOuterLayer {
    width: 100vw;
    margin: 0 auto;
    padding: 20px 20px;
    margin-top: 20px;
    // overflow-y: scroll !important;
}

.interiorcategoryinterLayer {
    position: relative;
    display: flex;
    margin: auto;
    width: 80%;
    max-height: 400px;
    // overflow-y: scroll !important;
}

.interiorfilmrole svg {
    position: absolute;
    z-index: 2;
}

.interiorfilmrole span {
    position: absolute;
    color: rgb(250, 246, 246);
    z-index: 3;
    padding-top: 22px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
}

.division1 {
    display: flex;
    padding: 10px 10px 80px 10px;
    flex-wrap: wrap;
    height: max-content;
    margin-top: 30px;
    position: relative;
}

.division2 {
    display: flex;
    padding: 10px;
    padding-bottom: 45px;
    flex-wrap: wrap;
    position: relative;
    margin-top: 80px;
    height: max-content;
}

.division3 {
    display: flex;
    padding: 10px;
    padding-bottom: 45px;
    flex-wrap: wrap;
    position: relative;
    margin-top: 130px;
    height: max-content;
}

.divisionchild {
    display: flex;
    border-radius: 16px !important;
    background: #F5F5F5;
    // width: 300px;
    // padding: 10px;
}

.interiorimage img {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-left: 65px;
}

@media only screen and (min-width:320px) and (max-width:600px) {
    .interiorcategoryinterLayer {
        display: block !important;
        width: max-content;
    }

    .arrowimage {
        margin-top: 0px;
        padding-top: 0px;
    }

    .arrowimage1 {
        margin-top: 0px;
        padding-top: 0px;
    }

    .interiortitle {
        font-size: 16px;
    }
    .interiorimage img{
        width: 70px !important;
        height: 70px !important;
    }

}

@media screen and (max-width:768px) {
    .interiorcategoryouterLayer {
        width: 100%;
        margin: 0px !important;
    }
    .interiorcategoryinterLayer{
        width: 100%;
    }

    .divisionchild {
        width: 150%;
    }

    .division1 {
        width: 150%;
    }

    .division2 {
        width: 150%;
    }

    .division3 {
        width: 150%;
    }

    .interiorname {
        font-size: 13px;
    }

    .interiortext {
        font-size: 10px;
        width: 120px;
    }

    .interiorimage img {
        width: 50px;
        height: 50px;
        margin-left: 50px;
    }


}

@media screen and (max-width:1024px) {
    .interiorcategoryouterLayer {
        margin: 0px !important;
    }

    .divisionchild {
        width: 100%;
    }

    .division1 {
        width: 100%;
    }

    .division2 {
        width: 100%;
    }

    .division3 {
        width: 100%;
    }

    .interiorname {
        font-size: 13px;
    }

    .interiortext {
        font-size: 10px;
        width: 120px;
    }

    .interiorimage img {
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-left: 50px;
    }

}

// @media only screen and (min-width:768px) {

//     .interiorcategoryOuterLayer {
//        padding: 0px !important;     
//     }
//     .interiorcategoryinterLayer {
//         display: flex;
//         width:100% !important;
//     }
//     .divisionchild {
//         display: flex;
//         background: #F5F5F5;
//         width:220px !important;
//         border-radius: 20px !important;
//         // padding: 10px;
//     }
//     .division1 {
//         display: flex;
//         // width:50%;
//     }

//     .division2 {
//         display: flex;
//         // width: 200px;
//     }

//     .division3 {
//         display: flex;
//         // width: 200px;
//     }
//     .interiorname{
//         padding-left: 0px 0px 0px 15px !important;
//         font-size:15px;
//         line-height: 30px;
//         /* width: 200px; */
//         margin-top: 0% !important;

//     }
//     .interiortext{
//         font-size:xx-small;
//         line-height: normal;
//     // width: 184px;
//     // height: 60px;
//     // margin-left: 25px;
//     }
//     // .interiorimage img {
//     //     width:100% !important;
//     //     height:50% !important;
//     //     margin-top: 30px;
//     //     background-color: #B7B7B7;
//     // }
// }