
.drpdown{
    max-width:200px;
    min-width:200px;
 }
 
 .drpdownicon{
    margin-top: 1px;
 }
 
 .cdropdown{
    text-decoration: none;
    margin-top:1px;
 }
 
 .ddropdown{
    text-decoration: none;
    margin-top:1.5px;
 }

 .modifiedfont{
   font-size:12px;
 }

 .citydropdownholder{
   display:flex;
   width: 400px;
   flex-wrap:wrap;
   font-size:12px;
}   

.dropdownwrap{
   display:flex;
   width:100px;
}

 

 .dropdownitemsstyle{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-size: 12px;
 }
 
 .dropdownitemstyle{
    width: 100px !important;
 }
 
 .dropdowngroup{
    display:flex;
 }
 
 .dropdowngroupmove{
    margin-top:3px;
 }
